.navbar {
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}

.leftnav {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    padding-left: 10px;
    padding-right: 10px;
}

.login {
    justify-self: center;
    padding-right: 30px;
    padding-top: 10px;
}

.user {
    padding-right: 10px;
}

.flex1 {
    background-color: #2093CC;
    display: flex;
    flex-direction: row;
}

.imgMecRelou {
    padding: 30px;
}

.listFlex1 {
    list-style-type: none;
    text-align: center;
    padding-left: 20%;
}

h1 {
    color: white;
}

.buttonListFlex1 {
    border: white 2px solid;
    border-radius: 5%;
    background-color: #e99002;
}

.titre2 {
    text-align: center;
    padding-right: 6%;
}

.tableauBleu {
    background-color: #2093CC;
    color: white;
}

table {
    text-align: center;
    margin-left: 10%;
    max-width: 80%;
}

.titre3 {
    text-align: center;
    padding-right: 6%;
}

.icons {
    background-color: #eeeeee;
}

.rangée1Icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imageProduct {
    margin-left: 40%;
}

.buttonRESTAPI {
    border: blue 2px solid;
    border-radius: 5%;
    background-color: blue;
    color: white;
}

.buttonDOCS {
    border: blue 2px solid;
    border-radius: 5%;
    background-color: blue;
    color: white;
}

.buttonSTART {
    border: #e99002 2px solid;
    border-radius: 5%;
    background-color: #e99002;
    color: white;
}

.buttons {
    padding-left: 33%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.endBar {
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    flex-direction: row;

}

.gauche {
    display: flex;
    flex-direction: row;
}

.gaucheText {
    border-left: white 1px solid;
    padding-right: 10px;
    padding-left: 10px;
}

.left {
    padding-right: 10px;
    padding-left: 10px;
}

.copyright {
    padding-top: 10px;
    padding-left: 68%;
}